.imageSect{
  float: left;
  width: 330px;
}

.GameImage{
  border-radius: 20px;
}

.GameOverview{
  justify-content: center;
  align-items: center;
  content: "";
  display: flex;  

}

.GameOverviewAchievePage{
  justify-content: center;
  align-items: center;
  content: "";
  display: flex;  
  cursor: default;
}

.ChildGameOverview{
  background-color: rgb(63, 63, 63);
  display: flex;
  width: 750px;
  padding: 10px;  
  border-radius: 20px;
  margin: 10px;
  border: solid 3px rgb(50, 50, 235);
  cursor: pointer;
}

.ChildGameOverviewAchievePage{
  background-color: rgb(63, 63, 63);
  display: flex;
  width: 750px;
  padding: 10px;  
  border-radius: 20px;
  margin: 10px;
  border: solid 3px rgb(50, 50, 235);
  cursor: default;
}



.trophySect{
  float: left;
  width: 100px;
  align-items: center;
  justify-self: center;
  display: flex;
}

.GameMiddleSect{
  display: flex;
  justify-content: center;
  align-items: center;
}

.trophySubSect{
  float: left;
  width: 50px;
  text-align: center;
  align-items: center;
  color: white;
}

.ParentProgress{
  height: 25px;
  width: '100%';
  background-color: rgb(221, 217, 217);
  border-radius: 40px;
  margin: 50;
}
.ChildProgress{
  height: 25px;
  background-color: rgb(50, 50, 235);
  text-align: right;
  border-radius: 10px;
}

.ProgressBarCSS{
  padding-top: 20px;
}



.ribbon{
 transform: translate(340px, -45px);
  
}

.ProgressText{
  color: white;
  padding-right: 5px;
}

.GameTitle{
  color: white;
  word-wrap: break-word;
  text-align: center;
  width: 400px;
  font-size: 18px;
  font-family: sans-serif;
}

.GameTitleSteam{
  color: white;
  word-wrap: break-word;
  text-align: center;
  width: 400px;
  font-size: 18px;
  font-family: sans-serif;
  padding-top: 25px;
}

.GameListCSS{
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.Background{
  background-color: black;
}

.Title{
  background-color: black;
  padding: 30px;
  margin: 0;
  color: white;
  text-align: center;
  font-size: 50px;
}

.achieveSect{
  float:left;
}

.achieveDescription{
  float: left;
  width: 350px;
  padding-left: 10px;
}

.achieveTime{
  float: left;
  width: 125px;
  padding-left: 15px;
}

.achievePercentParent{
  display: flex;
  align-items: center;
  float: left;
  justify-content: center;
}

.achievePercentChild{
  float: left;
  vertical-align: middle;
  text-align: center;
  width: 100px;
}

.achieveChildEarned{
  background-color: rgb(63, 63, 63);
  display: flex;
  width: 750px;
  padding: 10px;  
  border: solid 3px rgb(50, 50, 235);
  color: white;
}

.achieveChildUnearned{
  background-color: rgb(87, 86, 86);
  display: flex;
  width: 750px;
  padding: 10px;  
  border: solid 3px rgb(50, 50, 235);
  filter:grayscale(1);
}

::selection{
  background-color: rgb(27, 27, 27);
  color: white;
}
.sortSelector{
  justify-content: center;
  align-items: center;
  content: "";
  display: flex;  
}

.text{
  color: white;
  justify-content: center;
  align-items: center;
  content: "";
  display: flex; 
}

body{
  background-color:black
}

.sort{
  margin-left: 20px;
  height: 25px;
  font-family: sans-serif;
  border-radius: 10px;
}

.search{
  width: 400px;
  height: 20px;
  margin-right: 5px;
  font-family: sans-serif;
  border-radius: 10px;
}

.sortAchieve{
  margin-left: 600px;
  height: 25px;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 10px;
}
